[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=YALI Grub Rescue
Name[tr]=GRUB KURTARICI
GenericName=Bootloader rescue
GenericName[tr]=Önyükleyici Kurtarma Aracı
Comment=
Comment[tr]=
Exec=pkexec yali-bin --rescue
Icon=pisilinux-welcome
Terminal=false
Categories=Qt;Utility;
StartupNotify=true
